/* :root는 전역 CSS 변수 선언에 유용하게 사용할 수 있음 */
:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    /* box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성 */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    /* relative	요소 자기 자신을 기준으로 배치 */
    position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    /* no-repeat : 반복x  center/cover : 화면 사이즈에 딱 맞춤*/
}

/* :after는 HTML이 끝날 때 추가되는 가상 요소 */
.showcase::after {
    content: '';
    /* absolute	부모(조상) 요소를 기준으로 배치 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* rgba : CSS에서 투명도를 조절하고 싶을때
    R 레드 [0~255] G 그린 [0~255] B 블루 [0~255] A(alpha) [0~1] */
    background: rgba(0, 0, 0, 0.6);
    /* box-shadow CSS 속성은 요소의 테두리를 감싼 그림자 효과를 추가 */
    /* inset은 태그 요소의 위치를 결정하는 top, right, bottom, left의 축약 스타일 속성 */
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform은 요소에 회전, 크기 조절, 기울이기, 이동 효과를 부여할 수 있음 */
    /* translate(x, y) */
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    margin: auto;
    /* Flex는 한 방향 레이아웃 시스템 (1차원) */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    /* rem : 루트 요소 폰트 사이즈의 상대 단위 */
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    /* line-height는 줄 높이를 정하는 속성 */
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    /* text-transform은 대문자로 또는 소문자로 바꾸는 속성 */
    /* uppercase : 모든 글자를 대문자로 */
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    /* Grid는 두 방향(가로-세로) 레이아웃 시스템 (2차원) */
    display: grid;
    /* grid-template-columns : 컨테이너에 Grid 트랙의 크기들을 지정해주는 속성 */
    /* grid-template-rows는 행(row)의 배치
    grid-template-columns는 열(column)의 배치 */
    /* fr은 숫자 비율대로 트랙의 크기를 나눔 */
    /* repeat(반복횟수, 반복값) */
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap : Grid 셀 사이의 간격 */
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container>div {
    padding: 1.5rem 0;
}

.tabs .container>div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff;
}

/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

/* 나중에 설정한 값이 적용되지 않게 하려면 속성값 뒤에 !important */
.show {
    display: block !important;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

/* Footer */
.footer {
    max-width: 75%;
    margin: 1rem auto;
    /* overflow : 요소의 콘텐츠가 너무 커서 요소의 블록 서식 맥락에 맞출 수 없을 때의 처리법을 지정 */
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1, 9;
}

/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999;
}

/* Buttons */
.btn {
    /* inline-block : 여러 개의 엘리먼트를 한 줄에 정확히 원하는 너비만큼 배치할 수 있음 */
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 2rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
}

/*
    @media (조건) {
    스타일
    }
*/
@media (max-width: 960px) {
    .showcase {
        /* vh : 현재 실행중인 스크린 크기에 맞춰 상대적 크기를 반환 */
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        grid-template-columns: 1fr;
    }
}